<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.syfserver.dao.GoodsAdminDao">
    <select id="allGoodsList"  resultType="int">
        select count(*) from goods
    </select>
    <select id="goodsPageContext"  resultType="com.example.syfserver.entity.GoodsEntity">
        select * from goods limit #{start},#{pageSize}
    </select>
    <select id="queryGoodNameCount"  resultType="int">
        select count(*) from goods where name like CONCAT(CONCAT('%', #{queryName}), '%')
    </select>
    <select id="queryGoodNameResult"  resultType="com.example.syfserver.entity.GoodsEntity">
        SELECT * FROM (SELECT * FROM goods where name like CONCAT(CONCAT('%', #{queryName}), '%')) as a limit #{start},#{pageSize}
    </select>
    <delete id="doDeleteGood" parameterType="String">
        delete from  goods where id = #{goodId}
    </delete>
    <insert id="doAddGood" parameterType="com.example.syfserver.entity.GoodsEntity">
        insert into goods (id,name,price,kind,imgUrl,goodDesc)values (#{goodsEntity.id},#{goodsEntity.name},#{goodsEntity.price},#{goodsEntity.kind},#{goodsEntity.imgUrl},#{goodsEntity.goodDesc})
    </insert>
    <update id="doUpdateGood" parameterType="com.example.syfserver.entity.GoodsEntity">
        update goods set name=#{goodsEntity.name},price=#{goodsEntity.price},kind=#{goodsEntity.kind},imgUrl=#{goodsEntity.imgUrl},goodDesc=#{goodsEntity.goodDesc} where id=#{goodsEntity.id}
    </update>
    <select id="doGetGoodByNameAndId" parameterType="String" resultType="com.example.syfserver.entity.GoodsEntity">
        select * from goods where name=#{goodName} and id <![CDATA[ <> ]]>  #{goodId}
    </select>
</mapper>