<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.syfserver.dao.GoodsDao">
    <select id="doGetAllList"  resultType="com.example.syfserver.entity.GoodsEntity">
        SELECT * FROM goods
    </select>

    <select id="doGetAllKind"  resultType="String">
        SELECT DISTINCT  kind FROM goods
    </select>

    <insert id="doGetOrder" parameterType="com.example.syfserver.entity.OrderEntity">
        insert into take_in_order (id,identifier,createTime,orderDesc,state,mealNumber,remarks,sumMoney,cutMoney,cupNumber,openId) values (#{orderEntity.id},#{orderEntity.identifier},#{orderEntity.createTime},#{orderEntity.orderDesc},#{orderEntity.state},#{orderEntity.mealNumber},#{orderEntity.remarks},#{orderEntity.sumMoney},#{orderEntity.cutMoney},#{orderEntity.cupNumber},#{orderEntity.openId})
    </insert>

    <select id="doGetTakeInOrder"  parameterType="String" resultType="com.example.syfserver.entity.OrderEntity">
        SELECT  *   FROM take_in_order where openId = #{openId}
    </select>
</mapper>