<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.syfserver.dao.UserDao">
    <select id="userList" parameterType="String" resultType="com.example.syfserver.entity.UserEntity">
        select * from user where name=#{name}
    </select>
    <select id="allUserList"  resultType="int">
        select count(*) from user
    </select>
    <select id="userPageContext"  resultType="com.example.syfserver.entity.UserEntity">
        select * from user limit #{start},#{pageSize}
    </select>
    <select id="queryNameCount"  resultType="int">
        select count(*) from user where name like CONCAT(CONCAT('%', #{queryName}), '%')
    </select>
    <select id="queryNameResult"  resultType="com.example.syfserver.entity.UserEntity">
        SELECT * FROM (SELECT * FROM user where name like CONCAT(CONCAT('%', #{queryName}), '%')) as a limit #{start},#{pageSize}
    </select>
    <delete id="excuteDelete">
        delete from user where name= #{userName}
    </delete>
</mapper>