<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.syfserver.dao.UserDao">
    <select id="userList" parameterType="String" resultType="com.example.syfserver.entity.UserEntity">
        select * from user where name= #{name}
    </select>
    <select id="allUserList"  resultType="int">
        select count(*) from user
    </select>
    <select id="userPageContext"  resultType="com.example.syfserver.entity.UserEntity">
        select * from user limit #{start},#{pageSize}
    </select>
    <select id="queryNameCount"  resultType="int">
        select count(*) from user where name like CONCAT(CONCAT('%', #{queryName}), '%')
    </select>
    <select id="queryNameResult"  resultType="com.example.syfserver.entity.UserEntity">
        SELECT * FROM (SELECT * FROM user where name like CONCAT(CONCAT('%', #{queryName}), '%')) as a limit #{start},#{pageSize}
    </select>
    <delete id="excuteDelete" parameterType="String">
        delete from user where name= #{userName}
    </delete>
    <insert id="addNewUser" parameterType="com.example.syfserver.entity.UserEntity">
        insert into user (name,password,role,realName,address,phone) values (#{addUserEntity.name},#{addUserEntity.password},#{addUserEntity.role},#{addUserEntity.realName},#{addUserEntity.address},#{addUserEntity.phone})
    </insert>
    <select id="checkAddNewUser" parameterType="com.example.syfserver.entity.UserEntity" resultType="com.example.syfserver.entity.UserEntity">
        select * from user where name = #{addUserEntity.name}
    </select>
    <update id="editUser" parameterType="com.example.syfserver.entity.UserEntity">
        update user set name = #{editUserEntity.name}, password =#{editUserEntity.password},role = #{editUserEntity.role},realName = #{editUserEntity.realName},address= #{editUserEntity.address},phone = #{editUserEntity.phone} where id = #{editUserEntity.id}
    </update>
    <update id="uploadImage" parameterType="String">
        update user set image = #{url} where name = #{fileName}
    </update>
</mapper>